# 01. intro

## 단축키

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter : 지금 셀 실행 & 아래에 새로운 셀 추가
- esc 후에 m : Markdown
- esc 후에 c : code
- esc 후에 a : 위에 셀 추가
- esc 후에 b : 아래에 셀 추가
- esc 후에 enter : 현재 셀 활성화
- esc : 현재 셀 비활성

## 주의사항

1. Apple / apple -> 다르다 (대소문자 중요)
2. git add . / git add. -> 다르다 (띄어쓰기 중요)
3. message / massage -> 다르다 (철자도 중요)

In [5]:
# 주석을 나타냅니다.

hello

# 01. 변수
변수이름 = 값
- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _ 를 이용하여 선언
- 키워드는 사용불가

In [9]:
a = 10

In [10]:
a

10

In [11]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
a = 10000000

In [14]:
a

10000000

In [15]:
type(a)

int

In [16]:
b = 1.1

In [17]:
b

1.1

In [18]:
type(b)

float

In [19]:
c = 1 - 4j

In [20]:
type(c)

complex

In [21]:
c.imag

-4.0

In [22]:
c.real

1.0

### 1.2 Boolean

True, Flase로 이루어진 타입

In [23]:
a = True

In [24]:
type(a)

bool

In [25]:
b = False

In [26]:
type(b)

bool

In [27]:
bool(0)

False

In [28]:
bool(1)

True

In [29]:
bool([])

False

In [30]:
bool([1])

True

In [31]:
a = None

In [32]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'`, `"` 를 이용하여 표현

In [33]:
a = 'hello'

In [34]:
type(a)

str

In [ ]:
age = input() 
print(age)
print(type(age))

In [1]:
print('안녕하세요? "홍길동"입니다')

안녕하세요? "홍길동"입니다

In [3]:
print("안녕하세요? '홍길동'입니다")

안녕하세요? '홍길동'입니다

In [4]:
print('안녕하세요? \'홍길동\'입니다')

안녕하세요? '홍길동'입니다

In [46]:
a = '''
여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.
'''

In [47]:
print(a)

여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.

In [50]:
print('엔터를 입력해봐요 \n다음줄입니다.') # new라인으로 생각해주세요 라는 뜻(줄바꿈)

엔터를 입력해봐요
다음줄입니다.

In [51]:
print('엔터를 입력해봐요 \t들여쓰기도 가능합니다.')

엔터를 입력해봐요 	들여쓰기도 가능합니다.

In [52]:
print('하나', '둘', '셋')

하나 둘 셋

In [53]:
print('하나', '둘', '셋', end = '!')

하나 둘 셋!

In [55]:
print('하나', '둘', '셋', sep = '!') #seperate에 느낌표를 넣음

하나!둘!셋

In [56]:
print('하나', '둘', '셋', sep = '\t') #seperate에 들여쓰기를 넣음

하나	둘	셋

#### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [57]:
age = 20

In [59]:
print('홍길동은 %s 살입니다.' %age) # 옛날방식1

홍길동은 20 살입니다.

In [61]:
print('홍길동은 {}살입니다.'.format(age)) # 옛날방식2

홍길동은 20살입니다.

In [62]:
print(f'홍길동은 {age}살입니다.') # 최신방식

홍길동은 20살입니다.

## 2. 연산자
### 2.1 산술연산자

In [64]:
a = 2
b = 3

In [65]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [68]:
print(a // b)  #A를 B로 나눈 몫
print(a % b)  #A를 B로 나누고 나머지
print(divmod(a,b)) #A를 B로 나눈 몫, 나머지 출력

0
2
(0, 2)

 ### 2.2 비교연산자

In [69]:
a = 5
b = 10

In [71]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [72]:
print(a == b)
print(a != b)

False
True

In [73]:
print ( 'hi' == 'hi' )
print ( 'HI' == 'hi' )

True
False

### 2.3 논리연산자

- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not : 값을 반대로 전환

In [75]:
print( True and True ) # 앞이 True이면 뒤의 값이 뭐든지 중요하지 않음 ex) print(True and 10000) : 10000 출력
print( True and False )
print( False and True )
print( False and False )

True
False
False
False

In [76]:
print( True or True )
print( True or False )
print( False or True )
print( False or False )

True
True
True
False

In [77]:
print(True)
print(not True)

True
False

In [78]:
# 단축평가
## 형변환을 알아야함(True나 False만 생각하면 안됨) 0 : False , 1: True, 2: True ... 100: True
print( 3 and 5 ) #앞이 3(True)이기 때문에 뒤가 나와야함,
print( 3 and 0 ) # 
print ( 0 and 5 ) # 앞이 0(False)이기 때문에 앞이 나와야함
print ( 0 and 0 )

5
0
0
0

In [79]:
# 단축평가
## 형변환을 알아야함(True나 False만 생각하면 안됨) 0 : False , 1: True, 2: True ... 100: True
print( 3 or 5 ) #앞이 3(True)이기 때문에 앞이 나와야함,
print( 3 or 0 ) # 
print ( 0 or 5 ) # 앞이 0(False)이기 때문에 뒤가 나와야함
print ( 0 or 0 )

3
3
5
0

## 2.4 복합연산자

In [83]:
a = 1
b = 2

In [84]:
a = a + b #  a += b
a = a - b # a -= b
a = a * b # a *= b
a = a / b # a /= b
a = a // b # a //= b
a = a % b # a%= b
a = a ** b # a**= b

In [86]:
a += 1

## 2.5 기타연산자

- '+' : concatenation 
- in : containment
- is : identity

In [88]:
a = 'hi'
b = 'hello'

In [89]:
a + b #concatenation

'hihello'

In [90]:
a = [1, 2, 3]
b = [4, 5, 6]

In [91]:
a + b

[1, 2, 3, 4, 5, 6]

In [92]:
#containment : 안에 들어있냐는 뜻
print('a' in 'apple')
print('z' in 'apple')

True
False

In [94]:
print ( 1 in [1,2,3])
print ( 10 in [1,2,3])

True
False

In [99]:
# identity (is는 완벽하게 동일한가 - 메모리까지도)
a = 1 # 작은숫자는 메모리가 같음
b = 1
print(a is b)
print(id(a))
print(id(b))

True
140719892849448
140719892849448

In [100]:
a = 123123 # 큰숫자는 메모리가 다름
b = 123123
print(a is b)
print(id(a))
print(id(b))

False
1776377919952
1776377919696

#### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자, in, is
5. not
6. and
7. or

In [102]:
print(-3 ** 4) # 3 * 3 * 3 * 3 한후 -붙인거임
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [103]:
a = True #형변환했을 때 True = 1
b = 1

In [104]:
a + b

2

In [105]:
a = True
b = False
c = 1

In [106]:
print(a + c)
print(b + c)

2
1

In [107]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [109]:
print ( int_num + float_num)
print ( int_num + complex_num )

6.3
(4+3j)

### 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, float 등을 string으로 벼환
- bool() : int, list 등을 boolean으로 변환

In [113]:
a = 1
b = '번'

In [114]:
print (a + b) # error 이유: int와 str를 연결하려고 했기때문 (+는 int끼리 혹은 str끼리 사용 )

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [115]:
print (str(a) + b)

1번

In [116]:
a ='3'

In [117]:
type(int(a))

int

In [118]:
a = '3.3'

In [121]:
type(int(a)) # error 이유 : 10진수만 int로 변경할 수 있다. 즉 실수로 해야함

ValueError: invalid literal for int() with base 10: '3.3'

In [122]:
type(float(a))

float

In [125]:
a = 1
b = 0

In [126]:
bool(a)

True

In [127]:
bool(b)

False

In [129]:
print(bool([]))  # 리스트안이 비어있기 때문에 false
print(bool([1,2,3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된것과 다르다)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

### 4.1 List

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [131]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [139]:
location = ['서울', '대구', '대전'] #list 선언
print(location[0]) #list 접근
print(location[1])
print(location[2])
location[1] = '부산'
print(location)

서울
대구
대전
['서울', '부산', '대전']

### 4.2 Turple
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutabel)하다.

In [140]:
t = (1,2,3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [141]:
t[2] = 5 # error 이유 : tuple 형식은 어떤 값을 할당하는 것을 지원안함

TypeError: 'tuple' object does not support item assignment

In [143]:
#그럼 수정도 안되는데 어디다가 사용? 아래 확인. (여러개의 데이터에 동시에 할당할 때 사용)
x,y = 1, 2
print(x,y)

x,y = y, x
print(x,y)

1 2
2 1

### 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 +s만큼 증가하는 범위

In [145]:
a = range(1)
print(type(a))

<class 'range'>

In [147]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [148]:
a = range(5,15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [149]:
a = range(1,10,2)
print(list(a))

[1, 3, 5, 7, 9]

In [150]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 활용 가능한 연산/구조

In [158]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_range = range(1,100)
my_string = '12345'

In [159]:
# indexing 가능
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [160]:
#slicing 가능
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [163]:
#slicing (k간격으로)
list(my_range[2:6:2])

[3, 5]

In [164]:
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [165]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [166]:
# concatenation
print(my_list + [1,2,3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [168]:
# *
print([0] * 10)
print([[0] * 10] * 10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [169]:
print(len(my_list))

5

In [170]:
print(min(my_list))
print(max(my_list))

1
5

In [171]:
my_list.count(1)

1

## 5. 시퀀스 데이터가 아닌 자료구조

### 5.1 Set
수학에서 사용하는 집합과 동일하게 처리
- 선언 : 변수이름 = {value1, value2, value3}

In [172]:
my_set_a = {1,2,3,4,5}
my_set_b = {3,4,5,6,7}

In [175]:
print(my_set_a - my_set_b) #차집합
print(my_set_a | my_set_b) # 합칩합
print(my_set_a & my_set_b) # 교집합

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [177]:
my_list = [1,1,1,1,1,1,1,2,3,4,5,6,7]
print(set(my_list))  #중복제거
print(list(set(my_list)))

{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, key3: value3 ...}
- 접근 : 변수이름[Key]

- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든것을 사용가능 (불변값 : string, integer ...)
- value에는 모든 데이터 가능 (list, dictionary도 가능)

In [179]:
my_dict = {'서울': '02', '경기도': '031'}
my_dict['서울']

'02'

In [180]:
dict_a = {
    'name' : '정유진',
    'location' : '서울',
    'location' : '서울2' # key가 같기 때문에 마지막에 있는 것 사용
}

In [181]:
dict_a

{'name': '정유진', 'location': '서울2'}

In [182]:
dict_a.keys()

dict_keys(['name', 'location'])

In [183]:
dict_a.values()

dict_values(['정유진', '서울2'])

# 데이터 타입

1. Number
2. Boolean
3. String

# 자료구조
- 시퀀스 자료형
1. **[List] : 수정가능(mutable)**
2. (Tuple) : 불변함(immutable)
3. range() : 불변함(immutable)
4. **'String' : 불변함(immutable)**

- 시퀀스가 아닌 자료형
1. {Set} : mutable
2. **{Dictionary} : mutable**